@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Commissioner', sans-serif;
}
a, p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
    text-decoration: none;
    line-height: 1.2;
}
button:focus,
textarea:focus,
select:focus{
	outline: none!important;
	-webkit-appearance:none;
	box-shadow: none;
}
input:focus{
	outline: none!important;
}
a:active {
	border: none;
}
a:active,
a:focus {
  outline: 0;
  outline: none!important;
  -moz-outline-style: none;
}
a, img, button, input {
	transition: .3s all ease;
}
a {
	display: inline-block;
	text-decoration: none;
}
button {
	cursor: pointer;
}


.wrapper {
	overflow: hidden;
	background: #1E2127;
}

/* font-family: 'Corbel'; */
p {
	color: #fff;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Jost', sans-serif;
	color: #fff;
}
h1 {
	font-weight: 200;
	font-size: 100px;
	line-height: 110%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
}
h2 {
	font-weight: 300;
	font-size: 48px;
	line-height: 110%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
}
h3 {
	font-weight: 400;
	font-size: 34px;
	line-height: 110%;
	letter-spacing: 0.02em;
}
h4 {
	font-weight: 400;
	font-size: 24px;
	line-height: 120%;
	letter-spacing: 0.02em;
}
h5 {
	font-weight: 500;
	font-size: 20px;
	line-height: 130%;
	letter-spacing: 0.03em;
}
h6 {
	font-weight: 500;
	font-size: 14px;
	line-height: 130%;
	letter-spacing: 0.03em;
}
.white {
	color: #fff;
}
.black {
	color: #1E2127;
}

.white-btn {
	font-size: 14px;
	line-height: 130%;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #1E2127;
	background: #FFFFFF;
	padding: 14px 60px;
}

.more-btn {
	display: inline-flex;
	align-items: center;
	font-size: 14px;
	line-height: 130%;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #FFFFFF;
}
.more-btn img {
	margin-left: 10px;
}
.more-btn:hover {
	color: #fff;
}
.more-btn:hover img {
	margin-left: 20px;
}

.transparent-btn {
	font-size: 14px;
	line-height: 130%;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 13px 50px;
	border: 1px solid #FFFFFF;
}
.white-btn:hover {
	transform: scale(.98);
	color: #1E2127;
}
.transparent-btn:hover {
	transform: scale(.98);
	color: #fff;
}

.pl-0 {
	padding-left: 0;
}
.pr-0 {
	padding-right: 0;
}

header {
	position: relative;
	background-color: #1E2127;
	z-index: 2;
	overflow: hidden;
}
.ellipse-bg {
	position: absolute;
	left: 80px;
	bottom: 0;
}
.bg-text1,
.bg-text2 {
	font-family: 'Jost';
	font-weight: 600;
	line-height: 110%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #639EFF;
	opacity: 0.5;
	filter: blur(7px);
	z-index: 3;
}
.bg-text1 {
	font-size: 70px;
	position: absolute;
	top: 128px;
	left: 17px;
}
.bg-text2 {
	font-size: 100px;
	position: absolute;
	bottom: 80px;
	left: 40%;
}
header .head-text-col,
header .video-rov,
header .head-top-con,
header .head-menu-con {
	position: relative;
	z-index: 3;
}
header .head-top-con {
	background: #0E1114;
}
header .head-top {
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header .head-top p {
	display: flex;
	align-items: center;
	font-weight: 300;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #FFFFFF;
}
header .head-top p img {
	margin-right: 6px;
}
header .head-top a {
	font-size: 14px;
	line-height: 130%;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #FFFFFF;
}

header .head-menu-con {
	background: rgba(0, 0, 0, 0.3);
}
header .navbar {
	padding: 14px 0;
}
header .navbar .navbar-brand {
	margin-right: 30px;
	padding: 0;
}
header .navbar .nav-item .nav-link {
	padding: 0;
	font-size: 14px;
	line-height: 130%;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #FFFFFF;
	position: relative;
}
header .navbar .nav-item .nav-link::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: -2px;
	width: 0;
	height: 1px;
	background: #fff;
	transition: .3s all ease;
}
header .navbar .nav-item .nav-link:hover::after {
	width: 100%;
}
header .navbar .nav-item {
	margin-right: 16px;
}
header .navbar .nav-item:last-child {
	margin-right: 0;
}

header .navbar-right {
	display: flex;
	align-items: center;
}
header .navbar-right .appointment {
	font-size: 14px;
	line-height: 130%;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #FFFFFF;
	border-bottom: 1px dashed #fff;
	margin-right: 11px;
}
header .navbar-right .appointment:hover {
	border-bottom-style: solid;
}
header .navbar-right .head-tg {
	margin-left: 11px;
}
header .navbar-expand-lg .navbar-collapse {
	justify-content: center;
}

header .head-text p {
	font-family: 'Jost';
	font-weight: 200;
	font-size: 54px;
	line-height: 110%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-top: 130px;
	margin-bottom: 38px;
}

header .head-small-text {
	display: flex;
	align-items: flex-start;
	margin-bottom: 30px;
}
header .head-small-text span {
	display: inline-block;
	width: 126px;
	height: 1px;
	margin-right: 16px;
	background: #fff;
	margin-top: 10px;
}
header .head-small-text p {
	font-weight: 300;
	font-size: 18px;
	line-height: 130%;
	letter-spacing: 0.02em;
	color: #FFFFFF;
}
header .head-btns {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 208px;
}
header .head-btns .white-btn {
	margin-right: 20px;
}
header .head-img {
	position: relative;
}
header .head-img img {
	position: absolute;
	left: -60px;
	z-index: 1;
}

header .head-video-block {
	display: flex;
	align-items: flex-end;
}
header .head-video {
	display: inline-block;
	position: relative;
	margin-right: 14px;
}
header .head-video .play-btn {
	display: inline-block;
	position: absolute;
	left: 10px;
	bottom: 10px;
	transition: .3s all ease;
}
header .head-video:hover .play-btn {
	transform: scale(1.1);
}
header .head-video-block .video-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
header .head-video-block .video-text img {
	margin-bottom: 5px;
}
header .head-video-block .video-text span,
header .head-video-block .video-text p {
	font-weight: 300;
	font-size: 20px;
	line-height: 130%;
	letter-spacing: 0.02em;
	color: #FFFFFF;
}
header .head-video-block .video-text span {
	display: inline-block;
	color: #639EFF;
}

header.about-header {
	position: relative;
}
header.about-header::after,
header .head-img-col::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 500px;
	background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(30, 33, 39, 0) 0.01%, #1E2127 93.89%);
	z-index: 2;
}
header .head-img-col {
	padding-bottom: 40px;
}
.head-slide-rov {
	position: relative;
	overflow: hidden;
}
/* header about page */
header.about-header {
	background-image: url('../images/about-clinic-bg2.jpg');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	padding-bottom: 333px;
}
header.about-header::after {
	background: linear-gradient(180deg, rgba(30, 33, 39, 0) 0%, #1E2127 100%);
	height: 100%;
}
header.about-header .head-menu-con {
	background: rgba(0, 0, 0, 0.8);
}
header .video-slide {
	position: relative;
	overflow: hidden;
}
header .swiper-slider {
	opacity: 0;
}
header .swiper-slider-active {
	opacity: 1;
}
/* ///////////////////// */
.swiper {width: 100%;}
.swiper-container {
    width: 100%;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
	content: none;
}
.swiper-pagination {
	text-align: right;
	padding-right: 32px;
}
.swiper-pagination {
	font-weight: 100;
	font-size: 20px;
	line-height: 130%;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	width: 15%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: auto;
}
.swiper-pagination-total{
	position: relative;
}
.swiper-pagination-total::before {
	content: '0';
}
.swiper-pagination-current {
	font-weight: 100;
	font-size: 36px;
	line-height: 130%;
	letter-spacing: 0.02em;
	color: #FFFFFF;
}
.swiper-button-next,
.swiper-button-prev {
	top: auto;
	bottom: -5px;
	width: auto;
}
.swiper-button-prev {
	left: auto;
	right: 130px;
}
.swiper-button-next {
	right: 0;
}

/* ///////////////////// */

.head-slide-content {
	position: relative;
	align-items: flex-end;
}

/* Специальные предложения */

.special-offers {
	padding-top: 115px;
	padding-bottom: 140px;
	position: relative;
}
.special-offers .title {
	margin-bottom: 60px;
}
.special-offers .offers-slide {
	overflow: visible;
}
.special-offers .offers-slide-text {
	height: 155px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.special-offers .more-btn {
	margin-top: auto;

}
.special-offers .offers-slide-img img {
	border-radius: 5px;
	width: 100%;
	height: 200px;
}
.special-offers .offers-slide-text {
	margin-top: 20px;
}

.special-offers .offers-slide-text p {
	font-weight: 300;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	margin: 7px 0 20px;
}

.special-offers .swiper-slide {
	opacity: 0.5;
	transition: .3s all ease;
}
.special-offers .swiper-slide-prev,
.special-offers .swiper-slide-next,
.special-offers .swiper-slide-active {
	opacity: 1;
}
.special-offers .special-offers-slide {
	position: relative;
}
.special-offers .swiper-pagination {
	bottom: auto;
	top: -106px;
	padding-right: 47px;
}




.special-offers .swiper-button-next2 {
	right: 15px;
}
.special-offers .swiper-button-prev2 {
	right: 145px;
	left: auto;
}
.special-offers .swiper-button-next2,
.special-offers .swiper-button-prev2 {
	position: absolute;
	width: auto;
	bottom: auto;
	top: -93px;
	z-index: 12;
}


/* О КЛИНИКЕ */
.about-clinic {
	position: relative;
}
.about-clinic .mySwiper2::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(30, 33, 39, 0) 0%, rgba(30, 33, 39, 0) 22.4%, rgba(30, 33, 39, 0) 43.23%, rgba(30, 33, 39, 0) 60.42%, rgba(30, 33, 39, 0.2) 77.6%, #1E2127 100%);
	z-index: 2;
}

.about-clinic .mySwiper2 {
	position: relative;
}
.about-clinic .mySwiper2 img {
	width: 100%;
	height: 780px;
}
.about-clinic .about-clinic-rov {
	margin-top: -140px;
	position: relative;
	z-index: 2;
}
.about-clinic .about-clinic-left {
	max-width: 538px;
	position: relative;
	z-index: 3;
}
.about-clinic .about-clinic-left .title {
	margin-bottom: 22px;
}
.about-clinic .about-clinic-text p {
	font-weight: 300;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	margin-bottom: 8px;
}
.about-clinic .about-clinic-text a {
	margin-top: 3px;
}
.about-clinic .about-clinic-rov {
	align-items: center;
}


.about-clinic .swiper-slide {
	background-size: cover;
	background-position: center;
}

.about-clinic .mySwiper2 {
	height: 780px;
	width: 100%;
}

.about-clinic .mySwiper {
	height: 100px;
	box-sizing: border-box;
	position: relative;
	clip-path: inset( -100vw -100vw -100vw 0 );
	-webkit-clip-path: inset( -100vw -100vw -100vw 0 );
	-o-clip-path: inset( -100vw -100vw -100vw 0 );
	-moz-clip-path: inset( -100vw -100vw -100vw 0 );
}

.about-clinic .mySwiper .swiper-slide {
	width: 50%;
	height: 100%;
	opacity: 0.7;
}
.about-clinic .mySwiper .swiper-slide img {
	cursor: pointer;
}

.about-clinic .mySwiper .swiper-slide-thumb-active {
	opacity: 1;
}

.about-clinic .mini-slide-col {
	position: relative;
	padding-left: 50px;
}
.about-clinic .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.about-clinic .swiper-button-prev3,
.about-clinic .swiper-button-next3 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	background: #30343D;
	border-radius: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 12;
}
.about-clinic .swiper-button-next3 {
	bottom: 32px;
}

/* Наша команда */

.our-command .command-slide {
	overflow: visible;
	position: relative;
}
.our-command {
	padding-top: 150px;
	padding-bottom: 70px;
	background: linear-gradient(180deg, #1E2127 0%, #303541 51.04%, #1E2127 100%);
}
.our-command .title {
	margin-bottom: 65px;
}
.our-command .command-img {
	position: relative;	
}
.our-command .command-block {
	text-align: center;
}
.our-command .command-text p {
	font-weight: 300;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #FFFFFF;
}
.our-command .command-slide .swiper-slide {
	opacity: 0.5;
}
.our-command .command-slide .swiper-slide-next + .swiper-slide,
.our-command .command-slide .swiper-slide-active,
.our-command .command-slide .swiper-slide-next,
.our-command .command-slide .swiper-slide-next + .swiper-slide + .swiper-slide {
	opacity: 1;
}

.our-command .swiper-button-next4,
.our-command .swiper-button-prev4 {
	width: auto;
	position: absolute;
	top: -93px;
	bottom: auto;
	z-index: 12;
}
.our-command .swiper-pagination {
	bottom: auto;
	top: -106px;
}

.our-command .swiper-button-prev4 {
	left: auto;
	right: 130px;
}
.our-command .swiper-button-next4 {
	right: 0;
}

/* Implantoffbot */

.telegram-sec {
	padding: 60px 0 43px;
	background-image: url('../images/telegram-sec-bg.jpg');
	background-color: rgba(30, 33, 39, 0.7);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}
.telegram-sec::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, #1E2127 0%, rgba(30, 33, 39, 0) 60.94%, #1E2127 100%);
}
.telegram-sec::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(30, 33, 39, 0.7);
}
.telegram-sec .row {
	position: relative;
	z-index: 2;
}
.telegram-sec .tg-rov {
	align-items: center;
}
.telegram-sec .tg-left-text h2 {
	display: flex;
	align-items: center;
	font-weight: 300;
	font-size: 42px;
	line-height: 110%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #FFFFFF;
}
.telegram-sec .tg-left-text h2 img {
	margin-left: 10px;
}
.telegram-sec .tg-left-text h4 {
	font-size: 30px;
	line-height: 110%;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	margin-top: 9px;
	margin-bottom: 43px;
}
.telegram-sec .tg-left-text .tg-video {
	display: flex;
	align-items: center;
}
.telegram-sec .tg-left-text .tg-video a {
	margin-right: 20px;
}
.telegram-sec .tg-left-text .tg-video a:hover {
	transform: scale(1.05);
}
.telegram-sec .tg-left-text .tg-video p {
	font-size: 18px;
	line-height: 130%;
	letter-spacing: 0.03em;
	color: #FFFFFF;
}
.telegram-sec .tg-left-text .tg-video span {
	display: block;
	font-family: 'Jost';
	font-weight: 600;
	font-size: 18px;
	line-height: 130%;
	letter-spacing: 0.03em;
	color: #FFFFFF;
}

.telegram-sec .tg-right ul li {
	font-weight: 300;
	font-size: 18px;
	line-height: 130%;
	letter-spacing: 0.03em;
	color: #FFFFFF;
	margin-bottom: 6px;
}
.telegram-sec .tg-right ul li ul li {
	list-style: circle;
	margin-bottom: 9px;
}
.telegram-sec .tg-right a {
	display: flex;
	align-items: center;
	width: 220px;
	justify-content: center;
	margin-left: 60px;
}
.telegram-sec .tg-right a img {
	margin-right: 10px;
}

/* услуги */

.service-sec {
	padding-top: 130px;
}

.service-sec .service-block {
	padding-right: 15px;
	margin-right: 40px;
	border-right: 1px solid #6B7587;
	padding-top: 40px;
	padding-bottom: 40px;
}
.service-sec .service-item {
	margin-bottom: 30px;
}
.service-sec .service-item h5 {
	margin-bottom: 14px;
}
.service-sec .service-item p {
	font-weight: 300;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	position: relative;
}

.service-sec .service-item p a {
	color: #639EFF;
	display: unset;
    z-index: 2;
	background: #1E2127;
}
.service-sec .service-slide {
	overflow: hidden;
	position: relative;
	margin-top: -40px;
	padding-top: 50px;
}
.service-sec .service-slide .swiper-slide-next {
	opacity: 0.5;
}
.service-sec .service-slide .swiper-slide-next .service-block {
	border: none;
}

.service-sec .swiper-button-next5,
.service-sec .swiper-button-prev5 {
	width: auto;
	position: absolute;
	top: 0;
	bottom: auto;
	z-index: 12;
}
.service-sec .swiper-pagination {
	bottom: auto;
	top: -12px;
}

.service-sec .swiper-button-prev5 {
	left: auto;
	right: 130px;
}
.service-sec .swiper-button-next5 {
	right: 0;
}

/* Как мы работаем */

.how-we-working .how-con {
	position: relative;
}

.how-we-working .how-con:last-child {
	padding-bottom: 130px;
	margin-bottom: 150px;
}
.how-we-working .how-con.for-mar {
	margin-top: 260px;
}
.how-we-working .how-con.for-mar:nth-child(2) {
	margin-top: 140px;
}
.how-we-working .how-con .position-img img {
	position: absolute;
	top: 0;
	width: 49%;
}

.how-we-working .how-con .right-img img {
	right: 0;
}
.how-we-working .how-con .left-img img {
	left: 0;
}


.how-we-working .how-rov {
	position: relative;
	z-index: 2;
	padding-top: 130px;
}
.how-we-working .title {
	margin-bottom: 80px;
}
.how-we-working .how-we-working-block {
	display: flex;
	align-items: flex-start;
}
.how-we-working .how-we-working-block .line {
	display: block;
	min-width: 116px;
	margin-top: 20px;
	height: 1px;
	margin-right: 20px;
	background: #fff;
}
.how-we-working .how-we-working-text h4 {
	margin-bottom: 24px;
}
.how-we-working .how-we-working-text p {
	margin-bottom: 30px;
	font-weight: 300;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #FFFFFF;
}

/* О КЛИНИКЕ */
.about-us {
	position: relative;
	padding-bottom: 94px;
}

.about-us .gallery-top2 {
	/* height: 800px; */
	width: 100%;
	position: relative;
}
.about-us .gallery-top2 .about-us-big {
	height: 100%;
	position: relative;
}
.about-us .gallery-top2 .about-us-big .about-us-big-img {
	height: 100%;
}
.about-us .gallery-top2 .about-us-big::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(30, 33, 39, 0) 0%, rgba(30, 33, 39, 0) 22.4%, rgba(30, 33, 39, 0) 43.23%, rgba(30, 33, 39, 0) 60.42%, rgba(30, 33, 39, 0.2) 77.6%, #1E2127 100%);
	z-index: 2;
}
.about-us .gallery-top2 .about-us-big-img img {
	width: 100%;
}
.about-us .about-us-clinic-rov {
	margin-top: -140px;
	position: relative;
	z-index: 2;
}
.about-us .about-us-clinic-left {
	max-width: 538px;
	position: relative;
	z-index: 3;
}
.about-us .about-us-clinic-left .title {
	margin-bottom: 22px;
}
.about-us .about-us-clinic-text p {
	font-weight: 300;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	margin-bottom: 8px;
}
.about-us .about-us-clinic-text a {
	margin-top: 3px;
}
.about-us .about-us-clinic-rov {
	align-items: center;
}
.about-us .swiper-slide {
	background-size: cover;
	background-position: center;
}
.about-us .gallery-thumbs2 {
	height: 100px;
	box-sizing: border-box;
	position: relative;
	clip-path: inset( -100vw -100vw -100vw 0 );
	-webkit-clip-path: inset( -100vw -100vw -100vw 0 );
	-o-clip-path: inset( -100vw -100vw -100vw 0 );
	-moz-clip-path: inset( -100vw -100vw -100vw 0 );
}
.about-us .gallery-thumbs2 .swiper-slide {
	width: 50%;
	height: 100%;
	opacity: 0.7;
}
.about-us .gallery-thumbs2 .swiper-slide-thumb-active {
	opacity: 1;
}

.about-us .mini-us-slide-col {
	position: relative;
	padding-left: 50px;
}
.about-us .swiper-slide .about-us-block {
	position: relative;
	cursor: pointer;
}
.about-us .swiper-slide .about-us-block .about-mini-play-btn {
	position: absolute;
	left: 10px;
	bottom: 10px;
	transition: .4s all ease;
}
.about-us .swiper-slide .about-us-block:hover .about-mini-play-btn {
	transform: scale(1.05);
}
.about-us .swiper-slide .about-us-img img {
	display: block;
	width: 100%;
	height: 100px;
	object-fit: cover;
	border-radius: 5px;
}
.about-us .swiper-button-prev6,
.about-us .swiper-button-next6 {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 30px;
	height: 30px;
	background: #30343D;
	border-radius: 2px;
	bottom: 0;
	left: 0;
	z-index: 12;
}
.about-us .swiper-button-next6 {
	bottom: 32px;
}

.about-us .about-us-text {
	width: 178px;
	position: absolute;
	top: 240px;
	right: 450px;
	z-index: 3;
}
.about-us .about-us-text a svg g {
	transition: .3s all ease;
}
.about-us .about-us-text a:hover svg g {
	opacity: 1;
}
.about-us .about-us-text a img {
	width: 100%;
	height: 178px;
}
.about-us .about-us-text p {
	margin-top: 12px;
	text-align: center;
	font-size: 14px;
	line-height: 130%;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #FFFFFF;
}

/* Контакты */

.contact-sec {
	padding: 100px 0 270px;
	background-image: url('../images/contact-bg.jpg');
	background-color: rgba(30, 33, 39, 0.7);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}
.contact-sec::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, #1E2127 0%, rgba(30, 33, 39, 0.28) 51.04%, #1E2127 92.38%);
}
.contact-sec .row {
	position: relative;
	z-index: 2;
}
.contact-sec .title {
	margin-bottom: 34px;
	margin-top: 60px;
}
.contact-sec .contact-block address {
	font-size: 20px;
	line-height: 130%;
	letter-spacing: 0.03em;
	color: #FFFFFF;
	margin-bottom: 34px;
}
.contact-sec .contact-block p {
	margin-bottom: 27px;
	font-size: 20px;
	line-height: 130%;
	letter-spacing: 0.03em;
	color: #FFFFFF;
}
.contact-sec .contact-block .contact-links {
	display: flex;
	flex-direction: column;
}
.contact-sec .contact-block .contact-links a.contact-tel {
	font-size: 20px;
	line-height: 130%;
	letter-spacing: 0.03em;
	color: #FFFFFF;
	margin-bottom: 8px;
}

.contact-sec .contact-block .contact-links a.white-btn {
	margin-top: 30px;
	width: 220px;
}
.contact-sec .contact-map {
	height: 360px;
}

/* Независимые рейтинги */

.rating-sec {
	padding: 55px 0 120px;
}
.rating-sec .row {
	align-items: center;
}
.rating-sec .title h3 {
	font-weight: 300;
	font-size: 38px;
	line-height: 110%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #FFFFFF;
}
.rating-sec .rating-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	height: 100%;
}
.rating-sec .rating-block .rating-num p {
	margin: 9px 0;
	font-weight: 300;
	font-size: 18px;
	line-height: 130%;
	letter-spacing: 0.02em;
	color: #FFFFFF;
}

/* info text */

.info-con {
	background: #0E1114;
}
.info-con .info-text {
	padding-top: 12px;
	padding-bottom: 12px;
}
.info-con .info-text p {
	font-weight: 300;
	font-size: 18px;
	line-height: 120%;
	text-align: center;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	color: #FFFFFF;
}
/* =============================== */
.about-sec {
	margin-top: -80px;
	position: relative;
	z-index: 2;
	padding-bottom: 80px;
}
.about-sec .title h1 {
	margin-bottom: 65px;
}
.about-sec .title h4 {
	max-width: 645px;
	margin-bottom: 65px;
}
.about-sec .title h2 {
	margin-bottom: 12px;
}
.about-sec .about-left {
	padding-right: 40px;
}
.about-sec .about-left p {
	font-weight: 300;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	margin-bottom: 10px;
}
.about-sec .about-right {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 55px;
	position: relative;
}
.about-sec .about-right::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: -41px;
	width: 1px;
	height: 182px;
	background: #30343D;
}
.about-sec .about-right .about-nums p {
	font-weight: 700;
	font-size: 36px;
	line-height: 130%;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #FFFFFF;
}
.about-sec .about-right .about-nums span {
	display: inline-block;
	font-weight: 300;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #FFFFFF;
}
.about-sec .about-right .about-nums.one {
	max-width: 145px;
}
.about-sec .about-right .about-nums.two {
	max-width: 224px;
}
.about-sec .about-right .about-nums.three {
	max-width: 216px;
}
.about-clinic.second .about-clinic-rov {
	margin-top: -30px;
}
.about-clinic.second .mini-slide-col {
	overflow: hidden;
}
.about-clinic .swiper-button-prev7,
.about-clinic .swiper-button-next7 {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 30px;
	height: 30px;
	background: #30343D;
	border-radius: 2px;
	bottom: 0;
	left: 0;
	z-index: 12;
}
.about-clinic .swiper-button-next7 {
	bottom: 32px;
}
.about-clinic .gallery-thumbs-about .swiper-slide img {
	cursor: pointer;
	height: 100px;
}
.gallery-thumbs-about {
	overflow: hidden;
}
.about-clinic .gallery-top-about {
	position: relative;
}
.about-clinic .gallery-top-about::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(30, 33, 39, 0) 0%, rgba(30, 33, 39, 0) 22.4%, rgba(30, 33, 39, 0) 43.23%, rgba(30, 33, 39, 0) 60.42%, rgba(30, 33, 39, 0.2) 77.6%, #1E2127 100%);
	z-index: 2;
}
/* работаем для вас */
.for-you {
	padding-top: 90px;
}
.for-you .title h2 {
	margin-top: 64px;
	margin-bottom: 44px;
}
.for-you .for-you-block {
	padding: 0 80px 0 40px;
	position: relative;
}
.for-you .for-you-block:before {
	content: "«";
	display: block;
	position: absolute;
	left: -90px;
	top: 0;
	font-family: 'Jost';
	font-weight: 600;
	font-size: 200px;
	line-height: .2;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #30343D;
}
.for-you .for-you-block:after {
	content: "«";
	transform: rotate(180deg);
	display: block;
	position: absolute;
	right: -15px;
	bottom: 15px;
	font-family: 'Jost';
	font-weight: 600;
	font-size: 200px;
	line-height: .2;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #30343D;
}
.for-you .for-you-item {
	margin-bottom: 33px;
}
.for-you .for-you-item p {
	font-weight: 300;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	margin-bottom: 10px;
}
.for-you .for-you-item p:last-child {
	margin-bottom: 0;
}
.for-you .for-you-list {
	margin-bottom: 50px;
}
.for-you .for-you-list h4 {
	margin-bottom: 15px;
}
.for-you .for-you-list ul li {
	display: flex;
	align-items: center;
	list-style: none;
	font-weight: 300;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	margin-bottom: 10px;
}
.for-you .for-you-list ul li img {
	margin-right: 10px;
}
.for-you .for-you-list ul,
.for-you .for-you-list ul li:last-child {
	margin-bottom: 0;
}
.for-you .for-you-mission {
	margin-bottom: 30px;
}
.for-you .for-you-mission h4 {
	margin-bottom: 15px;
}
.for-you .for-you-mission p {
	font-weight: 300;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #FFFFFF;
}

.for-you .for-you-img {
	position: relative;
}
.for-you .for-you-img::after {
	content: "";
	display: block;
	width: 100%;
	height: 171px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: linear-gradient(180deg, rgba(30, 33, 39, 0) 0%, #1E2127 100%);
}

.our-command.second {
	padding-top: 200px;
}

/* наши кейсы */
.keys-sec {
	padding-bottom: 80px;
}
.keys-sec .keys-slide {
	padding-top: 50px;
	position: relative;
}
.keys-slide .swiper-slide {
	opacity: 0.5;
}
.keys-slide .swiper-slide-next + .swiper-slide,
.keys-slide .swiper-slide-active,
.keys-slide .swiper-slide-next,
.keys-slide .swiper-slide-next + .swiper-slide + .swiper-slide {
	opacity: 1;
}

.keys-sec .keys-block {
	text-align: center;
}
.keys-sec .keys-block .keys-img img {
	height: 350px;
}
.keys-sec .keys-block .keys-name h4 {
	margin-top: 30px;
}
.keys-sec .swiper-button-next8,
.keys-sec .swiper-button-prev8 {
	width: auto;
	position: absolute;
	top: -37px;
	bottom: auto;
	z-index: 12;
}
.keys-sec .swiper-button-prev8 {
	left: auto;
	right: 130px;
}
.keys-sec .swiper-button-next8 {
	right: 0;
}
.keys-sec .swiper-pagination {
	bottom: auto;
	top: -50px;
}





/* -------------------------------- */
/* footer */

footer {
	padding: 50px 0 65px;
	background: #1E2127;
}
footer .ftr-block {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
footer .ftr-logo {
	width: 290px;
}
footer .ftr-logo .ftr-logo-btn {
	margin-bottom: 14px;
}
footer .ftr-logo p {
	font-weight: 300;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	margin-bottom: 6px;
}
footer .ftr-logo a {
	display: block;
	font-weight: 300;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	margin-bottom: 6px;
}

footer .ftr-menu {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
footer .ftr-menu.three {
	width: 230px;
}
footer .ftr-menu a {
	font-weight: 300;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #FFFFFF;
}
footer .ftr-menu a:hover {
	opacity: 0.5;
}

footer .ftr-info {
	text-align: right;
	width: 220px;
}
footer .ftr-info > a,
footer .ftr-info p,
footer .ftr-info address {
	display: block;
	font-weight: 300;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	margin-bottom: 4px;
}
footer .ftr-socials {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 10px;
}
footer .ftr-socials a {
	margin-left: 10px;
	opacity: 0.5;
}
footer .ftr-socials a:hover {
	opacity: 1;
}
/* -------------------------------- */
.modal-content {
	padding: 88px 45px 80px;
	background: #3B475F;
}
.modal .modal-header,
.modal .modal-body {
	padding: 0;
	border: none;
}
.modal .modal-title {
	font-weight: 300;
	font-size: 40px;
	line-height: 120%;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 25px;
}

.modal .btn-close {
	position: absolute;
	right: 26px;
	top: 26px;
	padding: 0;
	color: #fff;
	background: transparent url("../images/close-icon.svg") center/1em auto no-repeat;
}
.modal .modal-body .form-group {
	margin-bottom: 20px;
}
.modal .modal-body .form-group input {
	width: 100%;
	padding: 10px 0;
	border: none;
	border-bottom: 1px solid #FFFFFF;
	background: transparent;
	font-size: 16px;
	color: #fff;
}
.modal .modal-body .form-group input::placeholder {
	font-size: 14px;
	line-height: 130%;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #FFFFFF;
	opacity: 0.5;
}
.modal .modal-body .form-group:last-child {
	margin-bottom: 40px;
}
.modal .modal-body form button {
	border: none;
	width: 100%;
}
.modal .modal-body form button.error {
	background: #FFBABA;
	color: #1E2127;
}
.modal .modal-body form button.error:hover {
	transform: scale(1);
}
.modal .modal-body form button[disabled="disabled"] {
	cursor: no-drop;
}
.modal .modal-body form input.error-input {
	background-image: url('../images/mark-point.png');
	background-repeat: no-repeat;
	background-position: right 10px center;
}
.modal .modal-body form p {
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	margin-top: 17px;
}
.modal .modal-body .thanks-text {
	font-family: 'Jost';
	font-size: 24px;
	line-height: 120%;
	text-align: center;
	letter-spacing: 0.02em;
	color: #BAFFE2;
	margin: 60px 0 70px;
}
.modal .modal-body p.error {
	font-size: 14px;
	line-height: 17px;
	color: #FFBABA;
}



.mob {display: none;}

@media only screen and (max-width: 1600px) {
	.how-we-working .how-con.for-mar:nth-child(2) {
		margin: 0;
	}
	.how-we-working .how-con:nth-child(1) .how-rov {
		margin-bottom: 130px;
	}
	.how-we-working .how-con:nth-child(1) .position-img img {
		top: 23%;
	}
	.how-we-working .how-con.for-mar {
		margin-top: 135px;
	}
}

@media only screen and (max-width: 1400px) {
	.how-we-working .how-con.for-mar {
		margin-top: 93px;
	}
}


@media only screen and (max-width: 1200px) {
	.swiper-pagination {
		width: 25%;
	}
}

@media only screen and (max-width: 768px){
	.pc {display: none;}
	.mob {display: block;}

	.about-clinic.second .mini-slide-col {
		padding: 0;
	}
	header .head-img-col {
		order: 2;
		padding-bottom: 0;
		position: unset;
		overflow: visible;
	}
	header .head-img-col::before {
		height: 270px;
		width: 107%;
	}
	header .video-slide {
		overflow: visible;
	}
	header .video-slide .col-lg-6,
	header .video-slide .container,
	header .video-slide .col-lg-12 {
		padding: 0;
	}
	header .navbar .navbar-brand {
		margin-right: 0;
	}
	header .navbar .navbar-brand img {
		width: 210px;
	}
	/* mob menu */
	header .navbar.active .head-nav-top {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		padding: 14px 20px 0;
		transition: .6s all ease;
	}
	.head-nav-top {
		transition: .3s all ease;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		position: relative;
		z-index: 1001;
	}
	.menu-opener {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
	}
	header .navbar-expand-lg .navbar-collapse {
		position: fixed;
		top: 0;
		left: -1000px;
		padding: 90px 20px 0 20px;
		background: #0E1114;
		width: 100%;
		height: 100%;
		z-index: 1000;
		transition: .5s all ease;
	}
	header .navbar-expand-lg .navbar-collapse.active {
		left: 0;
	}
	.menu-opener span {
		display: inline-block;
		background: #fff;
		margin-bottom: 8px;
		height: 2px;
		position: relative;
		transition: .4s all ease;
	}
	.menu-opener span.one {
		width: 39px;
	}
	.menu-opener span.two {
		width: 29px;
	}
	.menu-opener span.three {
		width: 19px;
		margin-bottom: 0;
	}
	.menu-opener.active span.one {
		transform: rotate(-45deg);
		top: 10px;
	}
	.menu-opener.active span.two {
		transform: rotate(45deg);
		top: 0;
		width: 39px;
	}
	.menu-opener.active span.three {
		opacity: 0;
	}
	/*  */
	header .mob-info,
	header .mob-contact {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-top: 40px;
	}
	header .mob-contact a {
		display: block;
	}
	header .mob-contact a.mob-tel {
		font-weight: 500;
		font-size: 14px;
		line-height: 130%;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-bottom: 6px;
	}
	header .mob-contact .white-btn {
		padding: 14px 35px;
		margin-top: 7px;
	}
	header .mob-info p {
		font-weight: 300;
		font-size: 14px;
		line-height: 150%;
		letter-spacing: 0.02em;
		color: #FFFFFF;
		margin-bottom: 7px;
	}
	header .mob-info .mob-socials {
		display: flex;
		align-items: center;
	}
	header .mob-info .mob-socials a {
		margin-right: 10px;
	}
	header .mob-address {
		margin-top: 30px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	header .mob-address .mob-metro {
		display: flex;
		align-items: center;
	}
	header .mob-address p,
	header .mob-address address {
		font-weight: 300;
		font-size: 14px;
		line-height: 150%;
		letter-spacing: 0.02em;
		color: #FFFFFF;
		margin-bottom: 4px;
	}
	header .mob-address p {
		display: flex;
		align-items: center;
		margin-right: 20px;
	}
	header .mob-address p img {
		margin-right: 2px;
	}

	header .navbar-right {
		display: none;
	}
	header .head-text p {
		margin: 40px 0 10px;
		font-weight: 200;
		font-size: 32px;
	}
	header .navbar .nav-item {
		margin-right: 0;
		margin-bottom: 20px;
	}
	header .head-text-col, header .video-rov, header .head-top-con, header .head-menu-con {
		position: unset;
	}
	header .head-small-text span {
		display: none;
	}
	header .head-btns {
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 0;
	}
	header .head-btns a {
		text-align: center;
		width: 100%;
		margin-bottom: 20px;
	}
	header .swiper-pagination {
		display: none;
	}
	header.index {
		padding-bottom: 0;
	}
	.ellipse-bg {
		left: -130px;
	}
	header .head-text-col {
		order: 1;
		padding: 0;
	}
	header .head-img-col .text-img1 {
		position: absolute;
		left: 20px;
		top: 430px;
	}
	header .head-img-col .text-img2 {
		position: absolute;
		bottom: 97px;
		right: 20px;
		z-index: 13;
	}
	header .head-img img {
		position: relative;
		left: 0;
		top: -6px;
		width: 100%;
	}
	header .head-img img.pc,
	header .head-video span.video-img,
	header .head-video-block .video-text img,
	.bg-text1,
	.bg-text2 {
		display: none;
	}
	header .head-video svg path {
		fill: #fff;
	}
	header .head-video svg circle {
		stroke: #fff;
	}
	header .head-video-block {
		align-items: center;
	}
	header .head-video .play-btn {
		position: unset;
		opacity: 0.5;
	}
	header .head-video {
		margin-right: 10px;
	}
	header .video-rov {
		margin-top: -50px;
		position: relative;
		z-index: 12;
	}
	header .video-rov .pl-0 {
		padding-right: 0;
	}
	header .head-video-block .video-text span,
	header .head-video-block .video-text p {
		font-weight: 300;
		font-size: 16px;
		line-height: 130%;
	}
	header .swiper-button-prev {
		display: none;
	}
	header .swiper-button-next {
		width: 40px;
		height: 40px;
		background: #30343D;
		border-radius: 2px;
		display: flex;
		align-items: center;
		justify-content: center;
		bottom: 4px;
	}
	header .swiper-button-next svg path {
		stroke: #fff;
	}
	header::after {
		height: 250px;
		background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(30, 33, 39, 0) 0.01%, #1E2127 93.89%);
	}
	.modal .modal-title {
		font-weight: 200;
		font-size: 32px;
		line-height: 110%;
	}
	.modal-content {
		padding: 85px 35px 80px;
	}
	/* ///// */
	h2 {
		font-weight: 300;
		font-size: 34px;
		line-height: 120%;
	}
	h4 {
		font-size: 18px;
	}
	.special-offers {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.special-offers .offers-slide-text {
		padding: 0 20px;
		display: block;
		margin-top: 15px;
	}
	.special-offers .offers-slide-text p {
		margin-top: 10px;
		font-size: 13px;
	}
	.special-offers .more-btn {
		margin-top: 0;
		display: block;
		margin-top: 15px;
	}
	.about-clinic .mySwiper2::after {
		top: 3px;
	}
	.about-clinic .mySwiper2 {
		height: auto;
	}
	.about-clinic .about-clinic-rov {
		margin-top: 32px;
	}
	.about-clinic .about-clinic-text-col {
		order: 2;
		padding: 0;
		margin-top: 15px;
	}
	.about-clinic .mini-slide-col {
		order: 1;
	}
	.about-clinic .mySwiper {
		height: 84px;
	}
	.about-clinic .swiper-button-prev3, .about-clinic .swiper-button-next3 {
		width: 37px;
		height: 37px;
	}
	.about-clinic .swiper-button-next3 {
		bottom: 47px;
	}
	.about-clinic .mob .title {
		margin-bottom: 30px;
	}
	.our-command {
		padding-top: 75px;
	}
	.our-command .title {
		margin-bottom: 10px;
		text-align: center;
	}
	.our-command .command-text {
		text-align: left;
	}
	.our-command .command-slide {
		overflow: hidden;
	}
	.our-command .swiper-pagination {
		display: none;
	}
	.our-command .swiper-button-next4, .our-command .swiper-button-prev4 {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		background: #30343D;
		border-radius: 2px;
		top: auto;
		bottom: 0;
		width: 37px;
		height: 37px;
	}
	.our-command .swiper-button-prev4 {
		right: 41px;
	}
	.our-command .swiper-button-next4 svg path,
	.our-command .swiper-button-prev4 svg path {
		stroke: #fff;
	}
	.telegram-sec .tg-img {
		text-align: center;
		position: relative;
	}
	.telegram-sec .tg-img::after {
		content: "";
		display: block;
		width: 100%;
		height: 200px;
		background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(30, 33, 39, 0) 0.01%, #1E2127 93.89%);
		position: absolute;
		left: 0;
		right: 0;
		bottom: -3px;
		margin: auto;
	}
	.telegram-sec .tg-col {
		padding: 0;
	}
	.telegram-sec {
		background: none;
	}
	.telegram-sec .tg-left-text {
		margin-top: -20px;
		position: relative;
		z-index: 2;
	}
	.telegram-sec .tg-left-text h4 {
		margin: 1px 0 10px;
		font-size: 24px;
	}
	.telegram-sec .tg-left-text .tg-video {
		margin-bottom: 15px;
	}
	.telegram-sec .tg-right > ul {
		padding-left: 20px;
	}
	.telegram-sec .tg-right ul li {
		font-size: 13px;
		margin-bottom: 0;
		margin-top: 6px;
	}
	.telegram-sec .tg-right a {
		width: 100%;
		text-align: center;
		margin-left: 0;
	}
	.service-sec {
		padding-top: 20px;
	}
	.service-sec .service-block {
		padding-right: 0;
		margin-right: 0;
		border-right: none;
	}
	.service-sec .service-item h5 {
		font-size: 16px;
	}
	.service-sec .service-item p {
		font-size: 13px;
	}
	.service-sec .swiper-pagination {
		display: none;
	}
	.service-sec .swiper-button-next5, .service-sec .swiper-button-prev5 {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		background: #30343D;
		border-radius: 2px;
		width: 37px;
		height: 37px;
	}
	.service-sec .swiper-button-prev5 {
		right: 41px;
	}
	.service-sec .service-slide {
		padding-top: 30px;
	}
	.how-we-working .how-con.for-mar {
		margin-top: 0;
	}
	.how-we-working .how-rov {
		padding-top: 0;
	}
	.how-we-working .how-we-working-block .line {
		display: none;
	}
	.how-col-text {
		order: 2;
	}
	.how-col-img {
		order: 1;
		padding: 0;
		margin-bottom: 20px;
		position: relative;
	}
	.how-col-img::after {
		content: "";
		display: block;
		width: 100%;
		height: 100px;
		background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(30, 33, 39, 0) 0.01%, #1E2127 93.89%);
		position: absolute;
		bottom: -3px;
		left: 0;
		right: 0;
		margin: auto;
	}
	.how-col-img img {
		width: 100%;
	}
	.how-we-working .how-con:nth-child(1) .how-rov {
		margin-bottom: 0;
	}
	.how-we-working .how-con {
		padding: 0;
	}
	.how-we-working .how-we-working-text {
		margin-bottom: 70px;
	}
	.how-we-working .how-we-working-text h4 {
		margin-bottom: 10px;
	}
	.how-we-working .how-we-working-text p {
		font-size: 13px;
		margin-bottom: 20px;
	}
	.how-we-working .how-con:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.about-us .about-us-clinic-rov {
		margin-top: 0;
	}
	.about-us {
		display: flex;
		flex-direction: column;
	}
	.about-us .gallery-top2 {
		order: 2;
	}
	.about-us-con {
		order: 1;
		padding: 0;
	}
	.about-us .mini-us-slide-col {
		padding: 0;
	}
	.about-us .swiper-button-prev6, .about-us .swiper-button-next6 {
		display: none;
	}
	.about-us .about-us-text {
		width: 69px;
		height: 69px;
		top: 50%;
		right: 50%;
		transform: translate(50%, -50%);
	}
	.about-us .about-us-text a svg {
		width: 100%;
		height: 100%;
	}
	.about-us .about-us-text p {
		display: none;
	}
	.about-us .gallery-top2 .about-us-big-img img {
		height: 210px;
		object-fit: cover;
	}
	.special-offers .title {
		margin-bottom: 80px;
	}
	.about-us .gallery-top2 .about-us-big::after {
		background: linear-gradient(180deg, #1E2127 0%, rgba(30, 33, 39, 0.2) 22.4%, rgba(30, 33, 39, 0) 43.23%, rgba(30, 33, 39, 0) 60.42%, rgba(30, 33, 39, 0.2) 77.6%, #1E2127 100%);
	}
	.about-us .mob-arrow {
		display: flex;
		margin: 10px auto;
	}
	.about-us .title h2 {
		margin-bottom: 30px;
	}
	.about-us .about-us-clinic-left {
		max-width: 100%;
		margin-top: 30px;
		padding: 0 15px;
	}
	.about-us {
		padding-bottom: 70px;
	}
	.contact-sec {
		background: none;
		padding: 0;
	}
	.contact-sec .title {
		margin-top: 0;
		margin-bottom: 20px;
	}
	.contact-sec .contact-block address {
		font-size: 18px;
		line-height: 130%;
		margin-bottom: 10px;
	}
	.contact-sec .contact-block .contact-links a.contact-tel,
	.contact-sec .contact-block p {
		margin-bottom: 10px;
		font-size: 18px;
	}
	.contact-sec .contact-block .contact-links a.white-btn {
		margin-top: 20px;
		width: 100%;
		text-align: center;
	}
	.contact-sec .contact-left {
		position: relative;
		z-index: 2;
	}
	.contact-sec .contact-bg-img {
		text-align: center;
		position: relative;
		margin-top: -15px;
	}
	.contact-sec .contact-bg-img:after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -1px;
		margin: auto;
		width: 200%;
		height: 100%;
		background: linear-gradient(180deg, #1E2127 0%, rgba(30, 33, 39, 0.28) 13.54%, rgba(30, 33, 39, 0) 51.56%, rgba(30, 33, 39, 0.19) 65.39%, #1E2127 92.38%);
	}
	.contact-sec .contact-bg-img img {
		width: 200%;
		object-fit: cover;
	}
	.contact-sec .contact-map {
		margin-top: 40px;
	}
	.contact-sec .contact-col {
		padding: 0;
	}
	.rating-sec .title h3 {
		font-weight: 300;
		font-size: 34px;
		line-height: 120%;
		margin-bottom: 30px;
	}
	.rating-sec .last {
		margin-top: 60px;
	}
	.rating-sec {
		padding: 40px 0;
	}
	.info-con .info-text p {
		font-size: 14px;
		line-height: 120%;
	}
	footer {
		padding: 40px 0 80px;
	}
	footer .ftr-block {
		flex-direction: column;
		justify-content: center;
	}
	footer .ftr-info {
		padding: 0 30px;
	}
	footer .ftr-info,
	footer .ftr-menu,
	footer .ftr-logo,
	footer .ftr-menu.three,
	footer .ftr-logo {
		width: 100%;
		text-align: center;
		align-items: center;
	}
	footer .ftr-menu.two {
		margin-top: 35px;
		padding-top: 35px;
		position: relative;
	}
	footer .ftr-menu.three {
		position: relative;
		margin-bottom: 35px;
		padding-bottom: 35px;
	}
	footer .ftr-menu.three:after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		width: 126px;
		height: 1px;
		background: #fff;
	}
	footer .ftr-menu.two:before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		margin: auto;
		width: 126px;
		height: 1px;
		background: #fff;
	}
	footer .ftr-socials {
		justify-content: center;
		margin-top: 40px;
	}
	footer .mob-ftr-btn {
		text-align: center;
	}
	footer .mob-ftr-btn a {
		text-align: center;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 500;
		font-size: 14px;
		line-height: 130%;
		color: #1E2127;
		margin: 35px 0;
	}
	footer .mob-ftr-btn a img {
		margin-right: 4px;
	}
	/* // */
	.about-sec .title h1 {
		font-size: 50px;
		margin-bottom: 30px;
	}
	.about-sec {
		z-index: unset;
		margin-top: 0;
	}
	header.about-header {
		padding-bottom: 150px;
	}
	.about-sec .title h4 {
		max-width: 100%;
		margin-bottom: 50px;
	}
	.about-sec .about-right {
		padding-left: 0;
		flex-direction: column;
		align-items: flex-start;
	}
	.about-sec .about-right::after {
		content: none;
	}
	.about-sec .about-left {
		padding-right: ;
	}
	.about-sec .about-right .about-nums {
		margin-bottom: 30px;
	}
	.about-sec .about-right .about-nums:last-child {
		margin-bottom: 0;
	}
	.about-clinic.second .about-clinic-rov {
		margin-top: 30px;
	}
	.about-clinic .gallery-thumbs-about .swiper-slide img {
		height: 84px;
	}
	.about-clinic .swiper-button-prev7, .about-clinic .swiper-button-next7 {
		display: none;
	}
	.about-clinic.second .mini-slide-col {
		overflow: visible;
	}
	.for-you {
		padding-top: 0;
	}
	.for-you .for-you-block:after,
	.for-you .for-you-block:before {
		content: none;
	}
	.for-you .for-you-block {
		padding: 0;
	}
	.for-you .title h2 {
		margin-bottom: 30px;
	}
	.for-you .for-you-img {
		display: none;
	}
	.for-you .for-you-img img {
		width: 100%;
	}
	.our-command.second {
		padding-top: 80px;
	}
	.keys-sec .swiper-button-next8, .keys-sec .swiper-button-prev8 {
		top: -30px;
	}
	.keys-sec .swiper-pagination {
		top: -43px;
	}
	.keys-sec .title {
		margin-bottom: 50px;
	}
}


@media only screen and (max-width: 576px) {
	.special-offers .special-offers-slide {
		padding: 0;
	}
	.swiper-pagination {
		width: 35%;
	}
}

@media only screen and (max-width: 480px) {
	.special-offers .swiper-pagination {
		top: -70px;
	}
	.special-offers .swiper-button-next2, .special-offers .swiper-button-prev2 {
		top: -55px;
	}
}

@media only screen and (max-width: 375px) {
	footer .ftr-info {
		padding: 0 10px;
	}
}